.calendar {
  display: block;
}

.calendar.holidays {
  background-color: aquamarine;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}

.week .day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
  padding: 5px;
}

.week .day.weekend {
  background-color: red;
  font-weight: bold;
  font-size: 20px;
}
