.layout {
  display: grid;
  grid-template-rows: auto auto;
}

.menu {
  display: flex;
}

#app {
  width: 100%;
  margin-top: 10px !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
